DEBUG="True"
APP_HOST="0.0.0.0"
APP_PORT="8001"
GRPC_PORT="50051"

DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_USER=DB_USER
DB_PASS=DB_PASS
DB_NAME=DB_NAME

CACHE_HOST=CACHE_HOST
CACHE_PORT=CACHE_PORT
CACHE_USER=CACHE_USER
CACHE_PASS=CACHE_PASS
CACHE_NAME=CACHE_NAME

QUEUE_HOST=QUEUE_HOST
QUEUE_PORT=QUEUE_PORT
QUEUE_USER=QUEUE_USER
QUEUE_PASS=QUEUE_PASS
VERSION_QUEUE=VERSION_QUEUE
